@import url('https://fonts.googleapis.com/css2?family=Chathura:wght@100&family=Secular+One&display=swap');
.conteiner{
    margin-top:60px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 50px;
    border-style: solid;
    border-color:  grey;
    border-width: 1px 0 1px 0;
    font-family: 'Chathura', sans-serif;
    background-color: rgb(161, 0, 0);
}
.buton{
    border: none;
    font-size: 35px;
    /* color: var(--color-text); */
    color: rgb(242, 242, 242);
    margin: 0 10px 0 10px ;
    font-weight: bold;
    transition: 0.4s ease;
}
.buton:hover{
    border-style: solid;
    border-color:   rgb(0, 123, 255);
    border-width:0 0 10px 0;
}
.span{
    margin-right: 40px;
    font-size: 50px;
    font-weight: 900;




}