.container {
  height: 49px;
  margin: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  background: var(--clr-10-05);
  border-radius: 14px;
  box-shadow: rgb(0 0 0 / 63%) 0px 20px 30px;
}
.title {
  font-size: 21px;
  color: var(--clr-3);
  text-decoration: none;
}
