.container {
  height: 112px;
  position: relative;
  background: linear-gradient(rgb(255, 255, 255), #ffffff, #979797);
  z-index: 1;
}
.containerLogo {
  position: absolute;
  width: 350px;
  margin-top: 14px;
}
.logo {
  width: 280px;
}
.containerBars {
  position: absolute;
  right: 14%;
  width: 490px;
}
.auxContainer {
  height: 56px;
  margin-top: 20px;
  margin-bottom: -35px;
}
.containerShopCart {
  position: absolute;
  right: 3.5%;
}
.carrito {
  height: 56px;
  margin-top: 25px;
}
